.mainBlock{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.184) , rgba(0, 0, 0, 0.039)),url("https://cdn.pixabay.com/photo/2013/11/27/09/49/iceland-219182_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#formBlock {
  width: 400px;
  height: 500px;
  backdrop-filter: blur(15px);
  }
#formBlock article form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  /* margin-left: 10px; */
  width: 100%;
  justify-content: center;
  align-items: center;
}
section > article > h1 {
  text-align: center;
  margin-bottom: 25px;
}
.boxset {
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  margin-left: 10px;
  border: none;
  background-color: azure;
}
.submitting {
 margin-top: 10px;
  padding: 10px;
  width: 60%;
  background-color: aqua;
  border-radius: 10px;
  border: none;
}
.backhome {
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
}

.radioAndLable {
    background-color: aqua;
    width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}